/*Usando conteúdo de fora*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@700&display=swap');
/*Estilização para toda a página*/
*{
    margin: 0; /*Retirando toda margin pré setada*/
    padding: 0; /*Retirando todo padding pré setado*/
}

/*Estilização do topo da página*/
.topoPag{
    background-color: #BD0F0F;
    min-height: 8vw;
    max-height: 16vw;
}
.imgNav{
    height: 13vw;
    width: 12vw;
}
.infoPag{
    display: flex;
    order: 5;
    justify-content: center;
}
.topoPag h1{
    color: #FCF6DB;
    font-size: 70pt;
    font-family: Rockstar;
}

/*Estilisação dos botões para navegação do site*/
.btnNavegacao{
    /*Aglomeração dos botões*/
    display: flex;
    order: 3;
    justify-content: center;

}
.btnNav{
    /*Botões individual*/
    display: flex;
    justify-content: center;
    color: #FCF6DB;
    text-decoration: none;
    flex-grow: 3;
    font-family: Rockstar;
    font-size: 10pt;
    font-weight: 400;
}

.btnNav:hover{
    text-decoration:overline;
    font-size: 18pt;

}
/*Estilização do meio da página*/
.meioPag{
    background-color: #FDBD42;
    height: 160vw;
    width: 100%;
}

/*Estilização do final da página*/
.finalPag{
    background-color: #000000;
    height: 12vw;
    width: 100%;
}