/*Usando conteúdo de fora*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@700&display=swap');
/*Estilização para toda a página*/
*{
    margin: 0; /*Retirando toda margin pré setada*/
    padding: 0; /*Retirando todo padding pré setado*/
}
/*Estilização do topo da página*/
.topoPag{
    background-color: #BD0F0F;
    min-height: 5vw;
    max-height: 17vw;
}
.imgNav{
    display: flex;
    justify-content: space-between;
    min-height: 6.5em;
    max-height: 14em;
    min-width: 6.5em;
    max-width: 14em;
}
.infoPag{
    display: flex;
    flex-grow: 5;
    justify-content: center;
}
.topoPag h1{
    color: #FCF6DB;
    display: flex;
    align-items: center;
    font-size: 6em;
    font-family: Rockstar;
}
/*Estilisação dos botões para navegação do site*/
.btnNavegacao{
    /*Aglomeração dos botões*/
    display: flex;
    order: 3;
    justify-content: space-between;

}
.btnNav{
    /*Botões individual*/
    display: flex;
    justify-content: center;
    color: #FCF6DB;
    text-decoration: none;
    flex-grow: 3;
    font-family: Rockstar;
    font-size: 1.4em;
    font-weight: 400;
}
.btnNav:hover{
    text-decoration:overline;
    font-size: 22pt;

}
/*Estilização do meio da página*/
.meioPag{
    background-color: #FDBD42;
    height: 160vw;
    width: 100%;
}


/*Estilização do final da página*/
.finalPag{
    background-color: #000000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Alterando o texto que está no footer*/
a.txtFinalPag{
    color: white;
    /*Botões individual*/
    display: flex;
    color: #FCF6DB;
    text-decoration: none;
    font-family: Rockstar;
    font-size: 2em;
    font-weight: 400;
}
.conteudoListaFooter{
    display: flex
}
iframe.mapa{
    min-height: 16vw;
    max-height: 24vw;
    min-width: 16vw;
    max-width: 24vw;
    border-radius: 10%;
}
iframe.mapa, ul.conteudoListaFooter{
    margin-top: 2em;
    margin-left: 8em;
    margin-right: 10em;
}
iframe.mapa, a.txtFinalPag, img.imgFinalPag{
    opacity: 80%;
}
img.imgFinalPag{
    height: 1.8em;
}