/*Usando conteúdo de fora*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@700&display=swap');
/*Estilização para toda a página*/
*{
    margin: 0; /*Retirando toda margin pré setada*/
    padding: 0; /*Retirando todo padding pré setado*/
}
body{
    overflow-x: hidden;
}
/*Estilização do topo da página*/
.topoPag{
    background-color: #BD0F0F;
    min-height: 5vw;
    max-height: 17vw;
}
.imgNav{
    display: flex;
    justify-content: space-between;
    height: 5em;
}
.infoPag{
    display: flex;
    justify-content: center;
}
/*Estilisação dos botões para navegação do site*/
.btnNavegacao{
    /*Aglomeração dos botões*/
    display: flex;
    justify-content: center;
}
.btnNav{
    /*Botões individual*/
    display: flex;
    justify-content: center;
    color: #000;
    font-weight: 900;
    text-decoration: none;
    flex-grow: 3;
    font-family: Rockstar;
    font-size: 1.2em;
    padding-left: 1.9em;
    font-weight: 400;
}
#localizacaoNav{
    padding-right: 0.9em;
}
.btnNav:hover{
    text-decoration:overline;
    font-size: 22pt;
    color: #FCF6DB;

}


/*Estilização do meio da página*/
.meioPag{
    background-color: #FDBD42;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    cursor: 8;
    
}
/*Alteração direta nas tags da imagem no meio da página*/
img.imgCardapio{
    height: 18em;
    border: 1.5px solid #FCF6DB;
    border-radius: 8%;
    margin: 1.6em;
}

/*Linha de separação entre footer e meio da pagina*/
hr.linhaSeparacao{
    width: 100%;
    background-color: #BD0F0F;
    color: #BD0F0F;
    height: 0.09em;
    border: none;
}


/*Estilização do final da página*/
.finalPag {
    background-color: #000;
}
/* Estilização do texto */
.textoFooter {
    color: #FFF;
    font: 700 1em Arial; 
    margin: 1em;
}
/* Estilização da logo central */
#imgLogoFooter{
    height: 6em;
    border: 2px solid #FCF6DB;
    border-radius: 50%;
}
.divImgFooter{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.imgRedesSociais{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.infoEmpresa{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#enderecoFooter{
    display: flex;
    justify-content: center;
}
#faceFooter{
    height: 1.8em;
}
#zappFooter{
    height: 1.8em;
}
#instaFooter{
    height: 1.8em;
}
.redeSocialFooter{
    margin: 0.2em;
}
#imgLogoFooter{
    margin-top: 1em;
}

/* Estilização para proporção de telas de desktop menores */
@media screen and (max-width: 815px) and (min-width: 750px) {
    /*Estilização do meio da página*/
    .meioPag{
        background-color: #FDBD42;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }
    /*Alteração direta nas tags da imagem no meio da página*/
    img.imgCardapio{
        height: 16em;
        border: 1.5px solid #FCF6DB;
        border-radius: 8%;
        margin: 1em;
    }
}
